/*Limpando formatações padrões*/
*{
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background-color: #e6e6e6;
}

p {
    width: auto;
}

h1 {
    color: #4e4e4e;
    font-size: 2.5em;
}

h2 {
    color: #f7b600;;
}

h4 {
    color: #4e4e4e;
    background-color:#c2c2d6;
    padding: 5px;
    margin: 10px;
}

/*Formatação geral dos links*/
a {
    text-decoration: none;
}

a:link, a:visited {
    color: #f7b600;
}


a:hover {
    text-decoration: underline;
}

/*Formatação menu navegação cabeçalho*/
#cabecalho a:link, a:visited {
    color: #ffffff;
    padding: 8px 12px;
    text-decoration: none;
}


#cabecalho a:hover {
    color: #f7b600;
    background-color: #ffffff;
    padding: 10px;
    text-decoration: none;

}

/*Layout da Página*/

#cabecalho {
    background-color: #f7b600;
    padding: 15px;
    text-align: center;
}

#logo {
    padding: 10px;
}

#menu {
    padding: 10px;
}

#principal {   
    width: 920px;
    margin: 0px auto;
    padding: 15px;
}

#area-postagens {
background-color: white;
width: 640px;
float: left;
}

.conteudo-lateral {
    background-color: white;
    width: 260px;
    float: right;
    margin-bottom: 20px;
}

#rodape {
    color: black;
    text-align: center;
    clear: both;
    padding: 15px;
    background-color: #cccccc;
}

.branco {
    color: #ffffff;
}

.postagem {
    
    padding: 20px;
    margin-bottom: 20px;
    
}

.postagem-lateral {
    font-size: 0.8em;
    padding: 5px;
    margin: 10px;
    border-bottom: 1px solid #f4f4f4;
}

.relative {
    position: relative;
    margin-top: 10px;
}

.data-postagem {
    color: #7575a3;
    font-size: 0.8em;
    border-bottom: 2px solid #f4f4f4;
    font-weight: solid;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
}

a.categoria{
padding: 8px 12px;
}

